html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ------ Typography -------*/
body{font-family: 'Open Sans', sans-serif;}

/* ------ Fluid Images -------*/

img{max-width:100%;}

/* ------ Utility Classes  -------*/
.container{
  margin:0 auto;
  background:rgba(0,0,0,.15);
  width:480px;
}

/* ------ Helper Classes -------*/
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/* ------ Global Styles -------*/
body{
  background-color: #c7c7c7;
  color:#222222;
  line-height:1.6
} 

nav.primary {
  display: none;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

header .menu-icon {
  cursor: pointer;
  display: inline-block;
  display: flex;
  justify-content: center;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

header .menu-icon .navicon {
  background: #777777;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 5px;
}

header .menu-icon .navicon:after {
  top: -5px;
}

header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

a:link, a:visited{
  color:#222;
}


nav a:link, nav a:visited{
  border:1px solid #646464;
  padding:8px 16px;
  text-align:center;
  text-decoration:none;
  color:#777777;
  text-transform:uppercase;
  font-size:.75em;
  background:rgba(0,0,0,.65);
  transition: background-color .5s ease;
  color:#fff;
}

nav a:hover{
   background: blue;
}

main{
  padding: 1px 20px;
}

main h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight:400;
  font-variant:small-caps;
}
main h1:before, main h1:after {
  background-color: #222;
  content: '\a0';
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 0.77em;
}
main h1:before {
  margin-right:15px;
  background-color: blue;
}
main h1:after {
  margin-left:15px;
  background-color: blue;
}

dl{
  display: grid;
  grid-template-rows:auto;
  grid-template-columns:8em 1fr;
  /*shorthand*/
  grid-template: auto / 8em 1fr;
}

dt{
  font-weight:800;
  grid-column: 1;
  padding: 10px 0;
  border-bottom:1px solid #999;
}
dd{
  margin:0;
  grid-column: 2;
  padding: 10px 0;
  border-bottom:1px solid #999;
 
}
.related-links{
  display:flex;
  justify-content:center;
  list-style:none;
  padding:0;
}
.related-links .svg-inline--fa{
  font-size:1.8em;
  padding-top:7px;
}

.related-links a{
  border:1px solid #000;
  padding:8px 16px;
  text-align:center;
  text-decoration:none;
  color:#222222;
  text-transform:uppercase;
  font-size:.75em;
  background:rgba(0,0,0,.65);
  transition: background-color 0.5s ease;
  color:#fff;
}

.related-links a:hover{
  background:rgba(0,0,0,.95);
}

.related-links li{
  margin-right:20px;
}

#skills{
  
}
#skills li {
  list-style-type:square;
}

.job, .certificate{
  border-bottom:1px solid #999;
  padding-bottom:20px;
}

.job *[itemprop="jobTitle"], 
.job *[itemprop="name"], 
.job *[itemprop="url"], 
.job *[itemprop="addressLocality"],
.certificate *[itemprop="name"]
{
  display:block;
}

.job h3{
  margin:20px 0 0 0;
}

footer{
  text-align:center;
padding:20px 0;
}