main {
    display: flex;
    padding: 1rem;
    background-color: gray;
    height: 400px;
  }

  div {
    margin: 1rem;
    min-height: 100px;
    padding: 1rem;
    width: 100px;
  }

  .item1 {
    background-color: red;
  }

  .item2 {
    background-color: yellow;
    min-height: 200px;
  }

  .item3 {
    background-color: aqua;
    min-height: 300px;
  }