$typeface: 'Arial', sans-serif;
$primary-color: darkgray;
$banner-color: bisque;
$bio-color: rgb(41, 41, 41);

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header.primary {
    background-color: $primary-color;
    width: 100%;
    height: 500px;
    display: flex;
}

.banner {
    background-color: $banner-color;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio {
    color: $bio-color;
    font-family: $typeface;
    text-align: center;
}